{% extends "index.html" %}
{% block title %} 게시판 {% endblock %}
{% block content %}
<style>
    .table {
        margin: auto;
        width: 700px;
        border-radius: 5px;
        border-collapse: collapse;
        border-top: none;
    }
    .header1 {
        background-color: gray;
        text-align: center;
    }
    .table td, .table th {
        border-bottom: 1px lightgray solid; 
        height: 30px;
        font-size: 14px;
    }
    .num {
        width: 50px;
    }
    .title {
        width: 500px;
    }
    .body {
        text-align: center;
    }
    .body .title {
        text-align: left;
    }
    button {
        width: 100px;
        height: 40px;
        font-size: 15px;
        border: 0;
        border-radius: 5px;
        padding-left: 10px;
    }
    button:active {
        width: 100px;
        height: 40px;
        font-size: 15px;
        border: 0;
        border-radius: 5px;
        padding-left: 10px;
    }
    
</style>
{% if 'user' in session %}
<table class="table">
    <tr>
        <td><button onclick="location.href='{{ url_for('write') }}'">글쓰기</button></td>
    </tr>
</table>
{% endif %}

<table class="table">
    <tr class="header1">
        <td class="num">No</td>
        <td class="title">Title</td>
        <td>Write</td>
        <td>Date</td>
    </tr>
    {% for post in posts %}
    <tr class="body">
        <td>{{ loop.index }}</td>
        <td class="title"><a href="{{ url_for('view', idx=post.idx) }}">{{ post.title }}</a></td>
        <td>{{ post.writer }}</td>
        <td>{{ post.date }}</td>
    </tr>
    {% endfor %}
</table>
<form class="table" method="post">
    <select name="options">
        <option value="option1">전체</option>
        <option value="option2">제목</option>
        <option value="option3">내용</option>
    </select>
    <input type="text" name="query" />
    <input type="submit" />
</form>
<br>
{% endblock %}
