

{% extends "index.html" %}
{% block title %} 게시판 {% endblock %}
{% block content %}
<style>
    table {
        border: 1px solid #444444;
        border-collapse: collapse;
        margin: 20px auto;
        width: 70%;
        table-layout: fixed;
    }
    td {
        border: 1px solid #444444;
        padding: 8px;
        text-align: left;
    }
    .body {
        text-align: center;
    }
    .hr {
        width: 30%;
        margin: 0 auto;
    }
</style>

<div class="body">
    <h1>Profile of users</h1>
    <hr class="hr">
    <table>
        {% for post in posts %}
        <tr class="body">
            <td class="title"><a href="{{ url_for('showprofile', username=post.id) }}">{{ post.name }}</a></td>
        </tr>
        {% endfor %}
        
    </table>
    </div>




{% endblock %}







